.sigInForm {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
}
.sigInForm > form > input {
    margin-bottom: 10px;
}
.sigInForm > form {
    width: 350px;
}
.signInContainer {
    display: flex;
    justify-content: center;
}
