.findForm {
    border: solid grey 1px;
    display: flex;
    border-radius: 20px 22px 20px 20px;
    height: 37px;
}
.findFormContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}
.findForm > input {
    border: none;
}
#name {
    border-radius: 20px 0px 0px 20px;
}
.findBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px #dc3545;
    border-radius: 0px 20px 17px 0px;
}
.increment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.incButtons {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 0px 5px;
    align-items: center;
}
.incButtons > span {
    /* padding: 0px 20px 0px 20px; */
    margin: 0px 20px 0px 20px;
}
.inc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
