.findForm {
    border: solid black 2px;
    display: flex;
    border-radius: 20px;
}
.findFormContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}
.findForm > input {
    border: none;
}
#name {
    border-radius: 20px 0px 0px 20px;
}
.findBtn {
    border: solid 4px #dc3545;
    border-radius: 0px 20px 17px 0px;
}
