.homePageImg {
    height: 470px;
    display: flex;
    flex-direction: ;
    align-items: center;
    /* flex-direction: row; */
}
.home {
    background-image: url('https://a0.muscache.com/im/pictures/ddc7f01f-3fb3-483c-87e6-701dad52c930.jpg');
    background-size: cover;
    background-position: center;
}
.homeWelcome {
    font-weight: 700;
    font-size: 60px;
    color: #222222;
    letter-spacing: -0.02em;
}
.homePageImg > div > span {
    font-weight: 400;
    font-size: 20px;
}
.getStart {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    background-color: #222222;
}
