.listingForm {
    /* width: 50vw; */
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.listingContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}
.listingForm > input,
select {
    width: 100%;
    margin-top: 10px;
}
.preview {
    padding: 20px;
    margin-left: 40px;
    /* border: solid black 2px; */
}
.previewImg {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.miniImg {
    display: inline-block;
}
